.logo {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;

  /* Primary Blue */
  color: #57b8ff;
}

.logo span {
  color: #2176ae;
}

.logo button {
  background-color: rgb(0,0,0,0);
  border: none;
  color: #57b8ff;
  color: none;
  text-decoration: none;
}
